spring:
  application:
    name: ${APP_NAME:spring-configserver}
server:
  port: ${PORT:8080}
management:
  server:
    port: ${MANAGEMENT_PORT:8080}
  endpoints:
    web:
      exposure:
        include: ${MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE:*}
    jmx:
      exposure:
        include: ${MANAGEMENT_ENDPOINTS_JMX_EXPOSURE_INCLUDE:*}